<header>

  <nav>
    <div class="nav-wrapper">
      <span id="epictetus-logo"><img src="./images/epictetus.gif"></span>
      <a href="#home" class="brand-logo">EPICTETUS</a>
      <a href="#" data-activates="mobile-nav" data-sidenav="left" class="button-collapse" data-menuwidth="150" data-closeonclick="true"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li ng-show="users.isLoggedIn()"><a href="#progress">Progress</a></li>
        <li ng-show="users.isLoggedIn()"><a href="#today">Today</a></li>
        <li><a href="">About</a></li>
        <li ng-hide="users.isLoggedIn()"><a href="#login">Login</a></li>
        <li ng-hide="users.isLoggedIn()"><a href="#signup">Sign up</a></li>
        <!-- Dropdown Trigger -->
          <li ng-show="users.isLoggedIn()">
            <a class="dropdown-button" href="javascript:void(0);" data-activates="dropdown1" dropdown data-hover="true">{{ users.user.firstname }}<i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class="dropdown-content">
            <li ng-show="users.isLoggedIn()"><a href="#progress">Progress</a></li>
            <li ng-show="users.isLoggedIn()"><a href="#today">Today</a></li>
            <li ng-show="users.isLoggedIn()"><a href="" ng-click="users.logout()">Logout</a></li>
          </ul>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li ng-show="users.isLoggedIn()"><a href="">Progress</a></li>
        <li ng-show="users.isLoggedIn()"><a href="#today">Today</a></li>
        <li><a href="">About</a></li>
        <li ng-hide="users.isLoggedIn()"><a href="#login">Login</a></li>
        <li ng-hide="users.isLoggedIn()"><a href="#signup">Sign up</a></li>
        <li ng-show="users.isLoggedIn()"><a href="" ng-click="users.logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>