<div class="row">
  <form class="col s6 offset-s3" ng-hide="users.isLoggedIn()" ng-submit="users.join()">
    <div class="row">
      <div class="input-field col s6">
        <input id="firstname" type="text" class="validate" ng-model="users.user.firstname">
        <label for="firstname">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="lastname" type="text" class="validate" ng-model="users.user.lastname" >
        <label for="lastname">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" ng-model="users.user.email">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="users.user.password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button type="submit" class="btn waves-effect waves-light secondary-color">Sign Up<i class="material-icons right">send</i></button>
      </div>
    </div>
  </form>
</div>